EMBEDDER_MODEL_ID=dunzhang/stella_en_400M_v5
EMBEDDER_DEVICE=cuda

RERANKER_MODEL_ID=BAAI/bge-reranker-v2-gemma
RERANKER_DEVICE=cuda

LOCAL_LLM_MODEL_ID=neuralmagic/Meta-Llama-3.1-8B-Instruct-quantized.w4a16
LLM_DEVICE=cuda
LOCAL_LLM_DTYPE=bfloat16
MAX_CONTEXT_LEN=1024
GPU_MEMORY_UTILIZATION=1.0
OPENAI_API_KEY=sk-
USE_OPENAI_API=True
OPENAI_MODEL_ID=gpt-4o-mini
OPENAI_RESPONSE_MODEL_ID=gpt-4o-mini
MAX_NEW_TOKENS=256
LONG_MAX_NEW_TOKENS=6000

EMBEDDER_SERVING_URL=http://localhost:8011
RERANKER_SERVING_URL=http://localhost:8012
LLM_SERVING_URL=http://localhost:8013

MILVUS_URL=http://milvus-standalone:19530
MINIO_URL=http://minio-storage:9000
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
MINIO_BUCKET_NAME=chatbot

CHAT_STORE_HOST=valkey
CHAT_STORE_PORT=6379
CHAT_STORE_DB=0
CHAT_STORE_USERNAME=
CHAT_STORE_PASSWORD=
CHAT_STORE_TTL=86400
CHAT_STORE_MAX_MESSAGES_PAIRS=6

ME_CONFIG_MONGODB_ADMINUSERNAME=
ME_CONFIG_MONGODB_ADMINPASSWORD=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=
PERSISTENT_CHAT_STORE_HOST=mongodb
PERSISTENT_CHAT_STORE_PORT=27017
PERSISTENT_CHAT_STORE_USERNAME=
PERSISTENT_CHAT_STORE_PASSWORD=
PERSISTENT_CHAT_STORE_DB=chatbot
PERSISTENT_CHAT_STORE_COLLECTION=chat_history

GRAPH_STORE_USERNAME=
GRAPH_STORE_PASSWORD=
GRAPH_STORE_HOST=falkordb
GRAPH_STORE_PORT=6379
GRAPH_STORE_BUILD=True
GRAPH_STORE_FORCE_BUILD=False

TOP_K_RETRIEVAL=5
PATH_DEPTH_GRAPH_RETRIEVAL=4
